* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
 background: #f7f7f7 url(/images/libertymutual.jpg) 0 0 no-repeat;
  background-size: cover;
  color: #333;
}
footer {
  font-size: 0.75em;
  color: silver;
  position: fixed;
  bottom: 1em;
  left: 1em;
}
footer a {
  color: #f80;
}
header {
  margin: 2em 0;
  text-align: center;
}
h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-align: center;
}
h1 {
  font-weight: 400;
  font-size: 3em;
}
h2 {
  font-weight: 300;
  margin-top: 0.5em;
}
section {
  margin: 1.5em auto;
  width: 400px;
}
button {
  display:block;
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 1px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  padding: .7em 1em;
  margin: 4em auto 3em;
  text-align: center;
  color: #fff;
  background: #d97a23;
  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button .fa {
  font-size: 30px;
  line-height: 0px;
  margin: 0;
  text-shadow: 1px 2px 2px #2a8b90;
}
button:hover {
  transform: scale(.92);
}
button:active {
  filter: brightness(.8);
}
button:focus {
  outline: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 5px/1 FontAwesome;
  font-size: 1.3em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}
.fa-github::before {
    content: "\f09b";
}

.chat-box {
  position:fixed;
  right:15px;
  bottom:0;
  box-shadow:0 0 0.1em #000;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}

.chat-closed {
  width: 250px;
  height: 35px;
  background: #d97a23;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  border:1px solid #777;
  color: #fff;
}

.chat-header {
  width: 250px;
  height: 35px;
  background: #d97a23;
  line-height: 33px;
  text-indent: 20px;
  border:1px solid #777;
  border-bottom:none;
}

.chat-content{
  width:250px;
  height:300px;
  background:#ffffff;
  border:1px solid #777;
  overflow-y:auto;
  word-wrap: break-word;
}

.box{
  width:10px;
  height:10px;
  background:green;
  float:left;
  position:relative;
  top: 11px;
  left: 10px;
  border:1px solid #ededed;
}

.hide {
  display:none;
}

.input {
  height: 40px;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #d97a23;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 2px;
  height: 30px;
  width: 80%;
  box-sizing: border-box;
  font-size: 14px;
}

.input input[type="submit"] {
  background: #d97a23;
  border: 1px solid #d97a23;
  color: #FFF;
  height: 30px;
  width: 60px;
  font-size: 14px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input input[type="submit"]:hover {
  background: #d97a23;
  color: rgb(0, 0, 0);
}